<app-navbar></app-navbar>
<div class="col-12 positionCar">
  <div class="circle">
    <i class="fas fa-cart-plus"></i>
    <span class="circleNumber">{{carNumber}}</span>
  </div>
</div>
<ul class="nav justify-content-start">
    <li class="nav-item">
      <button class="nav-link active" (click)="setType($event.target.value) " value='Todos'>Todos</button>
    </li>
    <li class="nav-item">
        <button class="nav-link"(click)="setType($event.target.value) " value='lacteos'>Lacteos</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='bebida'>Jugos</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='mermelada'>Mermeladas</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='conserva'>Conservas</button>
    </li>
    <li class="nav-item">
         <button class="nav-link"(click)="setType($event.target.value) " value='aceite'>Aceites</button>
    </li>
  </ul>
<div class=" products-colum product-grid" >
    <app-product-card
        *ngFor="let product of productListFilter"
        (productClicked)="clickProduct($event)" 
        [productsTwo]="product">
    </app-product-card>
</div>