<app-navbar></app-navbar>
<div class="col-12 positionCar">
  <div class="circle">
    <i class="fas fa-cart-plus"></i>
    <span class="circleNumber">{{carNumber}}</span>
  </div>
</div>
<ul class="nav justify-content-start colorNavbar">
    <li class="nav-item">
      <button class="nav-link active" (click)="setType($event.target.value) " value='Todos'>Todos</button>
    </li>
    <li class="nav-item">
        <button class="nav-link"(click)="setType($event.target.value) " value='lácteos'><i class="fas fa-cheese"></i>Lácteos</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='jugos'><i class="fas fa-glass-whiskey"></i>Jugos</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='mermeladas'><i class="fas fa-apple-alt"></i>Mermeladas</button>
    </li>
    <li class="nav-item">
      <button class="nav-link"(click)="setType($event.target.value) " value='conservas'><i class="fas fa-drum-steelpan"></i>Conservas</button>
    </li>
    <li class="nav-item">
         <button class="nav-link"(click)="setType($event.target.value) " value='aceites'><i class="fas fa-wine-bottle"></i>Aceites</button>
    </li>
  </ul>
  <div class="category">
    <span>Categoria: <strong>{{type}}</strong> {{productListFilter.length}} productos</span>
  </div>
<div class=" products-colum product-grid" >
    <app-product-card
        *ngFor="let product of productListFilter"
        (productClicked)="clickProduct($event)" 
        [productsTwo]="product">
    </app-product-card>
</div>