.navbar {
   /* background-color: #e53b23; */
   background-color: #ff2a0b;
}
.logoWatts {
    width: 5%;
}

a {
    color: white ;
}

ul.navbar-nav {
    align-items: center;
}

/* body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  } */
