.navbar {
   /* background-color: #e53b23; */
   background-color: #ff2a0b;
}
.logoWatts {
    width: 5%;
}

a {
    color: white ;
    padding: 1px 5px;
}

ul.navbar-nav {
    align-items: center;
}

a:hover {
  text-decoration: none;
  color: red !important;
  background: #fff;
  border-radius: 10px;
  display: flex;
  padding: 1px 5px;
}