<nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">Watts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a routerLink="/home" routerLinkActive="active">Inicio &nbsp;&nbsp;<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" routerLinkActive="active">Productos &nbsp;&nbsp;</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contact" routerLinkActive="active">Contactos</a>
        </li>
      </ul>
    </div>
    <img class="logoWatts" src="../../../assets/img/products/logowatts.png">
  </nav>

  <!-- <div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <img src="../../../assets/img/products/banner1.jpg" alt="banner">
        </div> 
        <div class="swiper-slide">
            <img src="../../../assets/img/products/banner1.jpg" alt="banner">
        </div> 
        <div class="swiper-slide">
            <img src="../../../assets/img/products/banner1.jpg" alt="banner">
        </div> 
        
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <script>
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 50,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
    });
  </script> -->