<div class="card col-12">
    <h5 class="title">{{ productsTwo.title | uppercase | slice: 0:21}}</h5>
    <img [src]="productsTwo.image"  class="card-img-top" alt="...">
    <div class="card-body">
        <strong class="pirce">{{productsTwo.price | currency}}</strong>
        <p class="description">{{productsTwo.description | slice: 0:40}}</p>
    </div>
    <div class="card-footer">
        <button (click)="addCart()" type="button" class="btn btn-outline-danger">Agregar al carrito</button>
    </div>
  </div>

<!-- <h3 appHighlight>{{ productsTwo.title | uppercase | slice: 0:21}}</h3>
<img [src]="productsTwo.image" alt="">
<strong>{{productsTwo.price | currency}}</strong>
<p>{{productsTwo.description | slice: 0:30}}</p>
<button (click)="addCart()">Agregar al carrito</button> -->